body {
    font-family: Garamond serif, 'Courier New', Courier, monospace;
    background-color: #dbfbfb;
    margin: 0;
    padding: 20px;
    text-align: center;
    brightness: .99;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    background-color: #80bdbd;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(44, 43, 43, 0.1);
    border: 1px solid #34625c;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #070707;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    font-size: 1em;
    text-align: center;
}

button.option {
    background-color: #f0f0f0;
    box-shadow: 0 5px #999; /* Shadow for depth effect */
}

button.option:hover {
    background-color: #45a049;
}

button.option:active {
    box-shadow: 0 3px #666; /* Reduced shadow when pressed */
    transform: translateY(2px); /* Pressed effect */
    background-color: #155a17; 
}

#next {
    background-color: #008CBA;
    box-shadow: 0 5px #999; /* Shadow for depth effect */
}

#next:hover {
    background-color: #007B9E;
}

#next:active {
    background-color: #005f73;
    box-shadow: 0 3px #666; /* Reduced shadow when pressed */
    transform: translateY(2px); /* Pressed effect */
}